img{ width:30%; height:30%;float:left;margin-left:1.6%; margin-bottom:1.6%;border:1px black solid}

p{text-transform:uppercase;font-weight:bold;width:30%;border-bottom: gray 1px solid;margin-left:1.6%;padding-bottom:8px}