.teken{color:red;}
h1{
	background:yellow;
    border: 4px solid black;
}
/*body{background:rgba(100,20,65,0.2);}*/
body{background:url(https://wallpaperspot.net/images/2018/12/14/sky-hd-background-2018-2.jpg);}
